@import 'libs/slick';
@import 'libs/branches';
@import 'libs/tagline';
@import 'libs/subscription';

.service-cost {
    padding: 20px 0 25px;
    .title{
        margin-bottom: 29px;
        h2{
            display: block;
            font-size: 30px;
            color: #000000;            
            line-height: 35px;
            font-weight: normal;
            font-family: 'GT Eesti Pro Display Regular';
        }
    }
    @media (min-width: 540px) {
        .title{
            margin-bottom: 29px;
        }
    }
    @media (min-width: 768px){
        
    }
    @media (min-width: 1024px) {
        padding: 30px 0;
        .title {
            display: flex;
            margin-bottom: 30px;
            align-items: center;
            justify-content: space-between;
        }
    }
    @media (min-width: 1200px) {
        padding: 34px 0 35px;
        .title {
            margin-bottom: 47px;
        }
    }
    @media (min-width: 1400px) {
        padding: 43px 0 30px;
        .title {
            margin-bottom: 35px;
            h2 {
                font-size: 40px;
                line-height: 45px;
            }
        }
    }
    @media (min-width: 1600px) {
        padding: 70px 0 60px;
        .title {
            margin-left: 4px;
            margin-bottom: 66px;
            h2 {
                font-size: 60px;
                line-height: 70px;
            }
        }
    }
    @media (min-width: 1800px) {
        padding: 61px 0 60px;
        .title {
            margin-bottom: 69px;
        }
    }
}