<section class="branches">
  <div class="container">
    <div class="title">
      <h2>Наши филиалы</h2>
      <div class="communication">
        <p><i class="icon-tel"></i> Единый многоканальный номер для связи</p>
        <strong>7757 (А1, МТС)</strong>
      </div>
    </div>
  </div>
  <div class="branches-content">
    <div class="branches-item">
      <a href="jabascript:void(0)"></a>
      <h4>Медавеню Грибоедова <i class="icon-branches-arrow"></i></h4>
      <span>Минск, Грибоедова 11</span>
      <ul>
        <li><i class="icon-timer"></i> Ежедневно с 8:00 до 21:00</li>
        <li><i class="icon-tel"></i> +375 242-23-23</li>
      </ul>
    </div>
    <div class="branches-item">
      <a href="jabascript:void(0)"></a>
      <h4>Медавеню Грибоедова <i class="icon-branches-arrow"></i></h4>
      <span>Минск, Грибоедова 11</span>
      <ul>
        <li><i class="icon-timer"></i> Ежедневно с 8:00 до 21:00</li>
        <li><i class="icon-tel"></i> +375 242-23-23</li>
      </ul>
    </div>
    <div class="branches-item">
      <a href="jabascript:void(0)"></a>
      <h4>Медавеню Грибоедова <i class="icon-branches-arrow"></i></h4>
      <span>Минск, Грибоедова 11</span>
      <ul>
        <li><i class="icon-timer"></i> Ежедневно с 8:00 до 21:00</li>
        <li><i class="icon-tel"></i> +375 242-23-23</li>
      </ul>
    </div>
    <div class="branches-item">
      <a href="jabascript:void(0)"></a>
      <h4>Медавеню Грибоедова <i class="icon-branches-arrow"></i></h4>
      <span>Минск, Грибоедова 11</span>
      <ul>
        <li><i class="icon-timer"></i> Ежедневно с 8:00 до 21:00</li>
        <li><i class="icon-tel"></i> +375 242-23-23</li>
      </ul>
    </div>
    <div class="branches-item">
      <a href="jabascript:void(0)"></a>
      <h4>Медавеню Грибоедова <i class="icon-branches-arrow"></i></h4>
      <span>Минск, Грибоедова 11</span>
      <ul>
        <li><i class="icon-timer"></i> Ежедневно с 8:00 до 21:00</li>
        <li><i class="icon-tel"></i> +375 242-23-23</li>
      </ul>
    </div>
  </div>
</section>