<header class="header">
    <div class="important">
        <div class="container">
            <p><span>ВАЖНО!</span>Комплекс мер по профилактике COVID-19</p>
            <span class="close"><i class="icon-close"></i></span>
        </div>
    </div>
    <div class="header-additionally">
        <div class="container">
            <div class="additionally">
                <ul class="additionally-menu">
                    <li class="active"><a href="javascript:void(0)">Медицинский центр</a></li>
                    <li><a href="javascript:void(0)">Эстетик Авеню</a></li>
                    <li><a href="javascript:void(0)">Стоматология</a></li>
                </ul>
                <div class="languages-personal">
                    <a class="impaired" href="javascript:void(0)"><i class="icon-eye"></i>Версия для слабовидящих</a>
                    <ul>
                        <li><i class="icon-planet"></i><span>Русский</span></li>
                    </ul>
                    <a class="personal-area" href="javascript:void(0)"><i class="icon-cabinet"></i>Личный кабинет</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-content">
        <div class="container">
            <div class="header-logo">
                <div class="header-left">
                    <a href="index.html" class="logo"><img src="img/logo.svg" alt=""></a>
                    <ul>
                        <li><img src="img/prizes.webp" alt=""></li>
                        <li><img src="img/prizes.webp" alt=""></li>
                        <li><img src="img/prizes.webp" alt=""></li>
                    </ul>
                    <form>
                        <button><i class="icon-search"></i></button>
                        <input type="search" placeholder="Поиск по специалистам, услугам и тп">
                    </form>
                </div>
                <div class="header-right">
                    <div class="location">
                        <i class="icon-map"></i>
                        <p><span>8 клиник </span>в Минске</p>
                    </div>
                    <div class="tel">
                        <i class="icon-tel"></i>
                        <p>7757 (А1, МТС)</p>
                    </div>
                    <span class="open-search">
                        <i class="icon-search"></i>
                    </span>
                    <a class="booking" href="javascript:void(0)"><i class="icon-tel"></i><span>Онлайн-запись</span></a>
                    <span class="open-menu">
                        <i class="icon-menu"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-navigation">
        <div class="container">
            <div class="menu">
                <a class="nav-services" href="javascript:void(0)"><i class="icon-menu"></i>Все услуги</a>
                <nav>
                    <ul>
                        <li><a href="javascript:void(0)">УЗИ</a></li>
                        <li><a href="javascript:void(0)">косметология</a></li>
                        <li><a href="javascript:void(0)">стоматология</a></li>
                        <li><a href="javascript:void(0)">о центре</a></li>
                        <li><a href="javascript:void(0)">Пациентам</a></li>
                        <li class="stock"><a href="javascript:void(0)"><i class="icon-stock"></i>акции</a></li>
                        <li><a href="javascript:void(0)">контакты</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>