<section class="medical-center-page">
    <div class="container">
      <div class="medical-center-content">
        <div class="medical-center-title">
          <h2>Многопрофильный медицинский центр в Минске</h2>
          <div class="link">
            <a href="javascript:void(0)" class="link-video"><i class="icon-play"></i><span>Смотреть</span> видео</a>
            <a href="javascript:void(0)" class="link-cube"><i class="icon-cube"></i>3D тур</a>
          </div>
        </div>
        <div class="medical-center-text">
          <p>С момента, когда медцентр принял своего первого паци­ента, у нас сложился коллек­тив, который отличает высо­кий профессиональный уро­вень, любовь к своему делу, творческий энтузиазм.</p>
          <p>Мы макси­мально использовали весь опыт, наработанный потенциал, знания современной медицины и воз­можности новейших аппаратных комплексов для завоевания вашего доверия. До мелочей продумав организацию медцентра, мы позаботились о том, чтобы он стал не только идеальным лечебным учреждением, но и местом активного отдыха.</p>
          <p>Отрадно, что наши усилия по достоинству оценивают пациенты.</p>
          <div class="link">
            <a href="javascript:void(0)" class="link-video"><i class="icon-play"></i><span>Смотреть</span> видео</a>
            <a href="javascript:void(0)" class="link-cube"><i class="icon-cube"></i>3D тур</a>
          </div>
        </div>
      </div>
    </div>
  </section>