<section class="sign-up-now">
    <div class="container">
        <div class="sign-up-now-content">
            <div class="text">
                <h3>Запишитесь прямо сейчас</h3>
                <p>Наш менеджер свяжется с вами, проконсультирует и поможет выбрать удобное время приёма.</p>
            </div>
            <form action="">
                <input type="text" placeholder="Ваш номер телефона">
                <button>Отправить<i class="icon-arrow3"></i></button>
            </form>
            <div class="img">
                <img src="img/sign-up-now-img.jpg" alt="">
            </div>
        </div>
    </div>
</section>