<section class="subscription">
    <div class="container">
        <div class="subscription-content">
            <div class="text">
                <h3>Будьте в курсе новостей и акций</h3>
                <p>Подпишитесь на рассылку и получайте первым информацию об акциях и новостях центра. </p>
            </div>
            <form action="">
                <input type="email" placeholder="Электронная почта">
                <button>Подписаться<i class="icon-arrow3"></i></button>
            </form>
        </div>
    </div>
</section>