
.icon-arrow-button:before { content: '\e800'; } /* '' */
.icon-cabinet:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-drop:before { content: '\e803'; } /* '' */
.icon-eye:before { content: '\e804'; } /* '' */
.icon-map:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-planet:before { content: '\e807'; } /* '' */
.icon-play:before { content: '\e808'; } /* '' */
.icon-search:before { content: '\e809'; } /* '' */
.icon-stock:before { content: '\e80a'; } /* '' */
.icon-tel:before { content: '\e80b'; } /* '' */
.icon-siren:before { content: '\e80c'; } /* '' */
.icon-arrow2:before { content: '\e80d'; } /* '' */
.icon-cardiology:before { content: '\e80e'; } /* '' */
.icon-dentistry:before { content: '\e80f'; } /* '' */
.icon-gynecology:before { content: '\e810'; } /* '' */
.icon-neurology:before { content: '\e811'; } /* '' */
.icon-rehabilitation:before { content: '\e812'; } /* '' */
.icon-therapy:before { content: '\e813'; } /* '' */
.icon-allergology:before { content: '\e814'; } /* '' */
.icon-cube:before { content: '\e815'; } /* '' */
.icon-slick-next:before { content: '\e816'; } /* '' */
.icon-slick-prev:before { content: '\e817'; } /* '' */
.icon-stock2:before { content: '\e818'; } /* '' */
.icon-arrow3:before { content: '\e819'; } /* '' */
.icon-bread:before { content: '\e81a'; } /* '' */
.icon-branches-arrow:before { content: '\e81b'; } /* '' */
.icon-ambulance:before { content: '\e81c'; } /* '' */
.icon-alert:before { content: '\e81d'; } /* '' */
.icon-loupe:before { content: '\e81e'; } /* '' */
.icon-medicine:before { content: '\e81f'; } /* '' */
.icon-timer:before { content: '\e820'; } /* '' */
.icon-syringe:before { content: '\e821'; } /* '' */
.icon-marker:before { content: '\e822'; } /* '' */